:root {
  --button-primary-color: #677bf7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f9fa;
}

#container {
  display: flex;
  flex-direction: column;

  margin-inline: auto;
}

#container h1 {
  width: 90%;
  margin: 2rem auto 0 auto;
  padding: 0 2rem;
  font-size: 5rem;
  font-weight: lighter;
}

#content {
  display: flex;
  width: 90%;
  margin-inline: auto;
}

#inputSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 2rem;
}

#inputNameAndTeams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
}

#inputName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
}

#inputName label {
  font-weight: bold;
}

#inputName #name {
  width: 100%;
  padding: 0.45rem;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

#addBtn {
  width: 10%;
  margin-right: 1rem;
}

#teamsText {
  margin: 0;
  font-weight: bold;
}

#inputTeams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
}

#inputBtnsTeams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#addBtn {
  align-self: flex-end;
}

#nrOfTemasDisplay {
  margin: 0;
}

#displaySide {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.namesAndDisplays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nameAndDisplay {
  width: 30%;
}

.displayTeam {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  height: 25vh;
  border-radius: 3px;
}

/* display inputted names */
#displayInputtedNames {
  /* height: 40vh; */
  width: 100%;
  background-color: white;
  margin: 1rem 0;
  border-radius: 3px;
  padding: 1rem;
}

#assignAndReset {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assign-member {
  width: 90%;
}

/* ____________ utility classes____________ */
.btn {
  background-color: var(--button-primary-color);
  border: none;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 350ms ease;
}

.btn:hover {
  transform: scale(1.05);
}

.minusPlusBtns {
  padding: 0.5rem 1rem;
}

.resetBtn {
  padding: 0.5rem 1rem;
  background-color: #9d4547;
  margin-left: 1rem;
}

.teamName {
  margin: 0;
}

.titleAndDescriptionNames {
  font-size: 1.05rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1rem;
}

/* FOR JS */
.displayNameInDiv {
  padding: 1rem;
  /* background-color: aqua; */
  border-bottom: solid 1px lightgray;
}
